html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

#epubContentIframe {
  border: none;
  height: 100vh;
  width: 100vw;
}

#toc {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 400px;
}
